.section-about {
  padding: 28px 19%;
  position: relative;
  isolation: isolate;

}

.section-about::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  background:-webkit-linear-gradient(90deg, #fff0f0,#eebff3,#eebff3);
  z-index: -1;
}

.about-row {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  overflow: hidden;
}

.about-row:nth-child(3) {
  margin-top: 4rem;
}

.about-image {
  flex: 1;
  max-width: 400px;
  margin-inline: auto;
}

.about-content {
  flex: 1;
  text-align: center;
  align-content: center;
}

.about-content span {
  margin-inline: auto;
  margin-bottom: 1rem;
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 2.0rem;
}

.about-content span img {
  max-width: 40px;
}

.about-row:nth-child(4) .about-content span {
  background-color: #ff98d4;
}

.about-row:nth-child(5) .about-content span {
  background-color: #6cbae7;
}

.about-row:nth-child(6) .about-content span {
  background-color: #fc6161;
}

.about-row:nth-child(7) .about-content span {
  background-color: #ffe364;
}

.about-image {
  max-width: unset;
  margin-inline: auto;
}

.about-content h4 {
  max-width: 450px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-neutral-1);
  line-height: 3rem;
}

.about-content p {
  max-width: 450px;
  margin-inline: auto;
  color: var(--color-neutral-1);
}

.section-header2 {
  font-size: 1.3rem;
  font-weight: 350;
  color: var(--color-primary-3);
  text-align: center;
  line-height: 2.5rem;
}

.about-image img {
  display: flex;
  width: 100%;
}

@media (width > 768px) {

  .about-row {
    flex-direction: row;
    align-items: center;
  }

  .about-row:nth-child(5) {
    flex-direction: row-reverse;
  }

  .about-row:nth-child(7) {
    flex-direction: row-reverse;
  }

  .about-image {
    max-width: unset;
    margin-inline: auto;
  }

  .about-content {
    text-align: center;
  }
}