.section__container {
  padding: 28px 8%;

}

.about__row {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  overflow: hidden;
}

.about__row:nth-child(3) {
  margin-top: 4rem;
}

.about__image {
  flex: 1;
  max-width: 400px;
  margin-inline: auto;
}

.about__content {
  flex: 1;
  text-align: center;
}

.about__content span {
  margin-inline: auto;
  margin-bottom: 1rem;
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 2.0rem;
}

.about__content span img {
  max-width: 40px;
}

.about__row:nth-child(3) .about__content span {
  background-color: #fdf2d9;
}

.about__row:nth-child(4) .about__content span {
  background-color: #e8f7fe;
}

.about__row:nth-child(5) .about__content span {
  background-color: #fbebf1;
}

.about__row:nth-child(6) .about__content span {
  background-color: #f3b1c9;
}

.about__content h4 {
  max-width: 450px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-neutral-1);
  line-height: 3rem;
}

.about__content p {
  max-width: 450px;
  margin-inline: auto;
  color: var(--color-neutral-1);
}

.about__row {
  flex-direction: row;
  align-items: center;
}

.about__row:nth-child(4) {
  flex-direction: row-reverse;
}

.about__row:nth-child(6) {
  flex-direction: row-reverse;
}

.about__image {
  max-width: unset;
  margin-inline: auto;
}

.about__content {
  text-align: left;
}

.section__subheader {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-neutral-1);
  text-align: center;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-neutral-1);
  text-align: center;
  line-height: 3.5rem;
}

.about__image img {
  display: flex;
  width: 100%;
}


@media (width > 540px) {
  .header__content h1 {
    font-size: 4.5rem;
    line-height: 5rem;
  }
}

@media (width > 768px) {
  .about__row {
    flex-direction: row;
    align-items: center;
  }

  .about__row:nth-child(4) {
    flex-direction: row-reverse;
  }

  .about__image {
    max-width: unset;
    margin-inline: auto;
  }

  .about__content {
    text-align: left;
  }

}