header {
    width: 100%;
    padding: 36px 8%;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
}

header img {
  height: auto;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color:var(--color-neutral-1);
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-neutral-1);
    /*border-bottom: 3px solid var(--color-primary-3);*/
}

.nav-item a:hover{
    border-bottom: 3px solid var(--color-primary-6);
}

#mobile_btn {
    display: none;
    color: var(--color-neutral-1);
}

#mobile_menu {
    display: none;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.25rem;
    border-radius: 100%;
    text-decoration: none;
    color: var(--color-neutral-1);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px var(--color-neutral-0);
    background-color: var(--color-primary-3);
}

#menu {
    display: none;
    color: var(--color-neutral-1);
}

@media screen and (max-width: 1170px) {
    header {
        background-color: var(--color-primary-1);
        padding: 15px 40px;
    }

    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    } 

    .social-media-buttons a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 40px;
        font-size: 1.25rem;
        border-radius: 100%;
        text-decoration: none;
        color: var(--color-neutral-1);;
        transition: box-shadow .3s ease;
    }

    #menu{
        display: flex;
        flex-direction: column;
        background: transparent;
        row-gap: 8px;            
        border: 0;
    }
    
    #menu:hover{
        cursor:pointer;        
    }
    
    #menu span{
        height: 2px;
        background: var(--color-neutral-1);
        border-radius: 8px;
        transition: all 0.4s;
    }
    
    #menu span:nth-child(1){
        width: 32px;
    }
    
    #menu span:nth-child(2){
        width: 40px;
    }
    
    #menu span:nth-child(3){
        width: 24px;
    }
    
    #menu.active span:nth-child(1){
        width: 32px;
        transform: rotate(-45deg) translate(-8px, 5px);
    }
    
    #menu.active span:nth-child(2){
        width: 0px;
        opacity: 0px;
    }
    
    #menu.active span:nth-child(3){
        width: 32px;
        transform: rotate(45deg) translate(-8px, -7px);
    }
}